<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  <head>-->

<nav class="navbar nav-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <h2>Navigation | </h2>
      <li *ngFor="let item of menuList">
        <a href="{{ item.slug }}" *ngIf="item.slug != 'item-3'">{{ item.name }}</a>
        <a href="{{ item.slug }}" *ngIf="item.slug == 'item-3'" style="color:red;">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</nav>
