<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="http://blog.getbootstrap.com/favicon.ico" style="width:20px; height:20px;">
      </a>
      <ul class="nav navbar-nav" *ngFor="let item of menuList">
        <li>
          <a href="{{ item.slug }}" *ngIf="item.slug != 'item-3'">{{ item.name }}</a>
          <a href="{{ item.slug }}" *ngIf="item.slug == 'item-3'" style="color:red;">{{ item.name }}</a>
        </li>

        <!--<iframe width="560" height="315" [src]="getEmbedUrl(item.embed)" frameborder="0" allowfullscreen></iframe>-->
      </ul>
    </div>
  </div>
</nav>

