<form #searchForm="ngForm" class="navbar-form navbar-left" (ngSubmit)="submitSearch($event, searchForm)">
  <div class="form-group">
    <input type="hidden" name="location" value="Poland" [(ngModel)]="searchLocation">
    <input type="text" class="form-control" placeholder="Search"
           name="q" [(ngModel)]="searchQuery" (change)="searchQueryChange">
  </div>
  <button type="submit" class="btn btn-default">
    <span *ngIf="!searchQuery">Search</span>
    <span *ngIf="searchQuery">Search for: {{ searchQuery }}</span>
  </button>
</form>
